/*
// Root element of a Component considers viewport as their sizing ref.
*/

* {
    box-sizing: border-box;
    box-shadow: none;
}


:root { /*Calculator Only*/
    --calculator-width: 45vw;
    --calculator-height: 80vh;
    --calculator-v-margin: calc((100vh - var(--calculator-height))/2);
}

#calculator {
    border: none;
    background: #f4efdc;
    width: max(var(--calculator-width), 500px);
    height:var(--calculator-height);
    margin: var(--calculator-v-margin) auto;
    padding: 10px 0;
    overflow: visible;
}

    :root { /*Display & Interface*/
        --display-width: 95%;
        --display-height: 20%;
        --display-top-margin: 0;

        --interface-height: calc(100% - var(--display-height));
        --interface-v-margin: calc((100% - var(--interface-height))/2);
    }

    #displayScreen {
        border: none;
        background: none;
        width: var(--display-width);
        height: var(--display-height);
        margin: var(--display-top-margin) auto 0 auto;
    }

        .display {
            text-align: right;
        }

        #displayedWork {
            border: none;
            position: relative;
            top: 0;
            height: 20%;
            margin: 0 10px 10px 0;
            color: #313131;
            font-size: 16px;
        }

        #displayedValue {
            border: none;
            margin: 0;
            color: black;
            height: auto;
            font-size: 50px;
            margin-right: 10px;
        }

        #displayedTests{
            border: none;
            margin: 0;
            color: black;
            height: auto;
            font-size: 15px;
            margin-right: 10px;
        }

    #interface {
        border: none;
        background: none;
        width: 95%;
        height: var(--interface-height);
        margin: 0 auto;
        display: grid;
        grid-template-areas:
            "top1 top1 top1 right"
            "top2 top2 top2 right"
            "left left left right"
            "left left left right"
            "left left left right"
            "left left left right";
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .button {
        font-family: 'Gill Sans MT';
    }

        #numbersContainer { /*Flexbox*/
            border: none;
            width: 100%;
            grid-area: left;    
            display: flex;
            flex-direction: column;
        }

            .numberButtonContainer { /*Flexbox*/
                border: none;
                height: 100%;
                flex-grow: 1;
                display: flex; /*Flexbox tells children to fill vertically.*/
                justify-content: space-evenly;
            }

                .numberButton {
                    border-width: thin;
                    border-color: #999999;
                    background: #d4f5f1;
                    color: black;
                    width: 33.3333%;
                    height: 100%;
                    font-size: 20px;
                }

                #zero {
                    width: 66.6667%;
                } 

        #operators_rightColumn { /*Flexbox*/
            border: none;
            grid-area: right;
            display: flex;
            flex-direction: column;
        } 

        #operators_topRowOne {
            border: none;
            grid-area: top1;
            width: 100%;
            height: 100%;
            display: flex;
        }

        #operators_topRowTwo{
            border: none;
            grid-area: top2;
            display: flex;
            justify-content: space-evenly;
        }

            .operatorButton {
                border-width: thin;
                border-color: #999999;
                color:black;
                background: #c6e7fa;
                flex-basis: 100%;
                font-size: 22px;
                position: relative;
            }

            .subtitle {
                border: none;
                width: 100%;
                font-size: 10px;
                position: absolute;
                bottom: 2px;
                left: 0;
                margin: 0;
                font-family: Arial, Helvetica, sans-serif;
            }

            .textButton {
                font-size: 18px;
            }

            #backspace {
                background: #c1c9cd;
            }

            #clear {
                background: #fcb3b7;
            }

            #answer, #undo {
                background: #a4deff;
            }

            #sqrt {
                font-size: 20px;
                font-weight: 900;
            }

    #endCreditContainer {
        border: none;
        margin-top: 6px;
    }

    #endCredit {
        text-align: center;
        font-size: 12px;
    }